@import '@styles/colors.scss';

.link {
  text-decoration: none;
  color: initial;

  .wrapper {
    height: 18rem;
    width: 10rem;
    outline: 2px solid $gray;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.25rem;
    margin-top: -0.375rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .image-wrapper {
      position: relative;
      width: 100%;
      aspect-ratio: 1;
      border-radius: 0.25rem;
      overflow: hidden;
    }

    &:hover h4 {
        color: $pink;
    }

    h4,
    p {
      margin: 0;
    }

    p {
      font-size: smaller;
      text-overflow: ellipsis;
    }

    .rating {
      display: flex;
      gap: 0.125rem;
      align-items: center;

      span {
        margin-right: 0.5rem;
      }

      .stars {
        content: url('../icons/star.svg');
        height: 1rem;
        filter: invert(84%) sepia(0%) saturate(2785%) hue-rotate(149deg)
          brightness(98%) contrast(106%);
      }

      .stars-fill {
        content: url('../icons/star.svg');
        height: 1rem;
        filter: invert(22%) sepia(96%) saturate(4165%) hue-rotate(337deg)
          brightness(92%) contrast(85%);
      }
    }
  }
}
